<div class="sidebarContent">
  <div class="categories">
    <strong>Categorias</strong>
    <a routerLink="/">Lorem ipsum dolor</a>
    <a routerLink="/">Lorem ipsum dolor</a>
    <a routerLink="/">Lorem ipsum dolor</a>
    <a routerLink="/">Lorem ipsum dolor</a>
    <a routerLink="/">Lorem ipsum dolor</a>
  </div>

  <div class="inputSearch">
    <strong>Procurando alguma notícia?</strong>
    <input
      type="text"
      name="pesquisa"
      type="text"
      placeholder="Pesquisar por..."
    />
  </div>
</div>
